In [59]:
import sys
from py2neo import neo4j, Graph #, node, rel
import MySQLdb

In [60]:
# Create MySQL connection
user = "lcdebaca"
password = "DcMCyskH49CKFnvEjx5C"
database = "starmetrics"

# invoke the connect() function, passing parameters in variables.
db = MySQLdb.connect( user = user, passwd = password, db = database )

# output basic database connection info.
print( db )

cursor = db.cursor( MySQLdb.cursors.DictCursor )
# Print Curser
print(cursor)

<_mysql.connection open to 'localhost' at 15dee460>
<MySQLdb.cursors.DictCursor object at 0x7f991b1455d0>

In [70]:
# Test SQL with Python

# declare variables
sql_select = ""
#result_count = 0 
query_results = None
#current_row = None 

# The Following is a Query of the starmetrics database
# It collects the following variables for Purdue University between the 
#years 2008 - 2012:  
#From the employee Table: id, employeeid, uniqueawardnumber, employeeoccupation
#From the occupation Table: occupationalclassification 

sql_select = "SElECT employee.employeeid, employee.uniqueawardnumber, employee.occupation_orig, \
occupation.occupationalclassification \
FROM starmetrics.employee \
INNER JOIN starmetrics.occupation ON \
starmetrics.employee.occupation_orig = occupation.occupation_orig \
WHERE starmetrics.employee.university = 'purdue' AND starmetrics.employee.year BETWEEN 2008 AND 2012;"

result_count = cursor.execute(sql_select);

# Count the number of rows returned 
print("Found " + str(result_count) + " rows")



# Get a List of Rows returned, so we can loop over them
#query_results = cursor.fetchall() 

# Loop over the results 
#for current_row in query_results:
#    print(current_row)
#    print("\n")

# Testing
one = cursor.fetchone()
print(one.keys())
print(one)


results = cursor.fetchall()

Found 1027382 rows
['occupationalclassification', 'occupation_orig', 'employeeid', 'uniqueawardnumber']
{'occupationalclassification': 'Faculty', 'occupation_orig': 'FACULTY', 'employeeid': '90014540', 'uniqueawardnumber': '00.070 03-C-NE-PU'}

I'm really not sure what is happening on the server when i run this stuff, so i'm going to try and be a bit conservative

In [64]:
# Create connection to database using defaults
# note, we imported Graph when we imported py2neo
graph_db_test = Graph()

In [67]:
# First Things First,
# I'm going to Create Some Labels to discrbe my Data in Neo
# Actrally lets just make nodes 

# If we wanted to make a single node, this would be the syntax 
new_node = neo4j.Node("employee", employeeid = '90014540', uniqueawardnumber = '00.070 03-C-NE-PU', \
            occupation_orig = "FACULTY", occupationalclassification = "Faculty")

# Real Cypher:
## CREATE (Employee1:Employee { id_num: "4", employeeid:'90014540', uniqueawardnumber:'00.070 03-C-NE-PU',occupation_orig:"FACULTY", occupationalclassification:"Faculty" })

#Cypher playground

In [72]:
for employee in results:
    id_num = employee['employeeid']
    occ_orig = employee['occupation_orig']
    occ_class = employee['occupationalclassification']
    award_num = employee['uniqueawardnumber']
    
    node = neo4j.Node("employee", employeeid = id_num, uniqueawardnumber = award_num, \
            occupation_orig = occ_orig, occupationalclassification = occ_class)

In [13]:
# Close Cursor
cursor.close()

# close connection
db.close()