# Week 6 - Data, Databases, SQL, and interacting with databases using Python

## KEEP A NOTEBOOK!

- record everything you do, with date and time stamps if appropriate.

    - notes in english
    - SQL
    - python steps
    - etc.

- ipython notebook can be good for this (but you have to keep making new cells when you re-run your program), but so can a text file.  How you do it doesn’t matter.  But, do it.  Keep your code!

## A quick note on backing up SQLite databases

### How do I back up?

- backing up sqlite3 database = make copy of file.
- can also export, such that you can make exports of specific tables, and then is easier to give data to someone else for inclusion in an existing database.  To do this in SQLite Manager:

    - open SQLite Manager.
    - open your database.
    - in the column on the left, click on the table you want to export.
    - select "Export Table".
    - in the "Export Wizard", choose the SQL tab and check "Include CREATE TABLE statement".
    - Click "OK" at the bottom of the window.
    - Select a location for the SQL file and click "Save".
    - The SQL file will be exported and placed where you specified.

### When do I back up?

- back up before you run any program that will make big changes.
- back up before you test out complicated logic, even if it shouldn't alter data.
- back up every week or two just to be safe.

## Setup

### Working Folder

For what we're going to do today, we need a work folder.  Either choose an existing folder where you'll work or make a new one.

### IPython Notebook

- download this IPython notebook to your working folder.

    - click the download link in the upper right, then choose to save it in your working folder.

- Then, either:

    - open IPython Notebook from Launcher, navigate to your working folder, then run your local copy of this notebook.
    - OR open a shell in your working folder, run `ipython notebook`, then once the browser window opens up, run your local copy of this notebook.

### Databases

For practice with SQL, we'll be looking at Sean Lahman's database of baseball stats, which contains data from 1871 to 2013.  To get the database:

- go to the github.com page for the actual database file:

    - [https://github.com/jknecht/baseball-archive-sqlite/blob/master/lahman2013.sqlite](https://github.com/jknecht/baseball-archive-sqlite/blob/master/lahman2013.sqlite).

- Click the "view the full file" link to download it.
- Download the database file to your working folder, the same folder where you downloaded this IPython Notebook.
- To start, open it with SQLite Manager.

Since I have you for the entire class, we'll also take look at some of the twitter data for the next assignment.

- Go to exercise 6 in ctools.
- Download the file `tweet_sample_sample.txt` to your work folder.

## Databases - relational vs. no-sql

A relational database stores information in data files named **_tables_**.  Each **_table_** contains a pre-defined set of fields, called **_columns_**.  In a table, individual records are called **_rows_**, and in a given row, there will be one value for each **_column_**, sometimes called a **_cell_**.  Each row in a given table should have a **_key_** or ID, and when information in one table is related to information in another, in the most basic relational form, the two are linked by one of the rows storing the ID of the related row in a **_foreign key_** column as part of its data.  When you want to bring related data together in a relational database, you use the **_SQL_** querying language to filter and join together data across tables.

A no-sql database treats data differently, and at this point, that is about all you can say that is common to all the different data storage systems that call them selves "no-sql".  no-sql databases are usually not inherently relational, though some are.  They used to not support SQL, but some have started to.  They tend to store data in more of a record- or document-centric model, where all data is stored in a homogenous pool of records, and the contents of a record are not formally defined.  In this model, some records are made up of name-value pairs (you are responsible for making sure records of a certain type have the same information).  Some hold "documents" that can contain substantially different formats (XML, JSON, plain text, PDF files, etc.).  Graph databases, which model network data, use the name-value pair container model, but have two types of records - nodes and ties.  Most grew up around the performance needs of web-based information systems that need to perform on a massive scale.

So, how do you choose?  The key is understanding your data, understanding what your needs are, and then understanding what a given database system gives you.

- If you really do have a set of documents and you just want to filter based on the text within, a document-based database might be the way to go (or just storing things on the file system and using command line tools...).
- If you just have basic flat data (answers from a single set of survey questions for lots and lots of people), a database of name-value pair records might suffice.
- If you have complex data made up of information on different distinct and interrelated entities, and you are interested in exploring the relationships, you probably should use a relational database where you can explicitly model your data and its relations (twitter data, plus a survey, plus facebook data and reddit posts, for example).

### Why relational, and why sqlite?

- relational:

    - our data is usually relational.  Twitter example:

        - one user can have many tweets
        - hashtags, urls, @mentions can all appear in multiple tweets.
        - tweets can reference each other because of retweeting.

- sqlite:

    - because it is easy, local, contained in a file, doesn't require a standalone server, and data will likely be modest.
    - Other options for when going gets rough:

        - PostgreSQL

            - Postgres.app for Mac

        - MySQL (though doesn't deal as well with really large data sets, or with emoji, as postgresql).
        - and many others.

## SQL

_Based on [Week 5: SQL lesson](http://webdev.cas.msu.edu/cas992/weeks/week5.html) by Rick Wash at Michigan State University - Thanks Rick!_

SQL is a quirky language.  It is different from procedural languages like Python.  It is designed for a very specific purpose: to interact with relational data.  It isn't structured like other languages, and while it can make data access easy, it also can make tasks that would be easy in other languages (though perhaps not exceptionally performant) confoundingly complex.  Let's dive in so you can see it for yourself!

### Tables we'll look at

There are a couple of tables that we will be focusing on. Player information is all contained in the **`Master`** table. Team information is contained in the **`Teams`** table. Which team each player played on varies by year, and is contained in the **`Appearances`** table. Batting statistics are in the **`Batting`** table, and Pitching statistics for each pitcher are in the **`Pitching`** table. Finally, player salaries are all in the **`Salaries`** table.

### Querying the database

The basic method of querying the database is to use a select statement:

    SELECT *
    FROM Master;

Where:

- you put the columns you want returned in the SELECT clause (after the word "SELECT" but before the word "FROM").  An asterisk ( "\*" ) is a wildcard - it will return all columns for a given table.
- you put the name of the table (or names of the tables - more on this in a bit) you want to query after the word "FROM", in the FROM clause.
- it is considered good style to capitalize words in an SQL query that are SQL words, not variables, table names, or values you are filtering on or searching for - SELECT, FROM, WHERE, etc.
- you should learn to end SQL statements with a semi-colon.  It isn't required everywhere, but it is required in some contexts, so better to be aware, get into the habit.

Instead of specifying “all” columns ( "\*" ), you can specify which columns you want by name, in a comma-delimited list after "SELECT":

    SELECT playerID, nameFirst, nameLast
    FROM Master;

You can specify calculations in the list of columns also:

    SELECT playerID, ( AB / G )
    FROM Batting;

And you can give those new columns names:

    SELECT playerID, ( AB / G ) AS avg_bats_per_game
    FROM Batting;
    
You can also use special keywords and functions in the SELECT clause.  For example, the keyword "DISTINCT", which only returns any given value in a given column once:

    SELECT DISTINCT nameFirst
    FROM Master;
    
And "COUNT()", which returns a count of matching rows rather than a list:
    
    SELECT COUNT( DISTINCT nameFirst )
    FROM Master;

### WHERE clauses: Limiting the results

In a SELECT query, you can add a WHERE clause to limit the results:

    SELECT *
    FROM Batting
    WHERE yearID = 2010;

Where:

- you are making conditional tests, just like in a Python "if" statement.
- EXCEPT here, instead of "==" being the equality operator, it is just "=".
- Comparison operators:

    - "**_`=`_**" - equal to
    - "**_`!=`_**" or "**_`<>`_**" - not equal to
    - "**_`<`_**" - less than
    - "**_`<=`_**" - less-than-or-equal-to
    - "**_`>`_**" - greater than
    - "**_`>=`_**" - greater-than-or-equal-to
    - "**_`LIKE`_**" and "**_`NOT LIKE`_**" - wild-card matching operator, where percent matches 0 or more characters ( "%" ) and an underscore matches any 1 character ( "_" ).
    - "**_`IN( value_list )`_**" and "**_`NOT IN( value_list )`_**" - checks whether the value to the left of the "IN", usually a column's value in a given row, is either IN or NOT IN the list on the right of the IN.
    
An example of using LIKE:

    SELECT *
    FROM Master
    WHERE nameLast LIKE 'Jack%'

You can specify multiple conditions for matching in your WHERE clauses, as well, to more precisely filter the results of your query:

    SELECT *
    FROM Batting
    WHERE yearID = 2010 and teamID = 'DET'
    
Note:

- when you are matching a column whose type is numeric, you just put the value in the query, with no quotation marks (just like in Python).
- when you are filtering a string column, you have to include the value you are looking for (the value on the right-hand side of the equal sign) in single-quotes.  They must be single-quotes, too.  Unlike in Python, double-quotes have an entirely different meaning that single quotes in SQL, and will cause your query to fail.

Like "None" in Python, the signifier of an unset value in a column for a row is special - NULL.  To check for NULL, you use "IS NULL" or "IS NOT NULL", rather than the "=" or "!=".

    /* find the fallen */
    SELECT *
    FROM Master
    WHERE deathYear IS NOT NULL;

You can also explicitly cut off the number of results your query returns using the LIMIT keyword.  Just LIMITing to 10 only returns the first 10 results for the query:

    SELECT *
    FROM Batting
    WHERE yearID = 2010 and teamID = 'DET'
    LIMIT 10;
    
You can also use LIMIT to skip to the middle of the results by giving it two numbers, separated by a comma.  The first number is the number of records you want to skip, the second number is how many records you want to include after you skip:

    /* skip 10, the output 15 */
    SELECT *
    FROM Batting
    WHERE yearID = 2010 and teamID = 'DET'
    LIMIT 10, 15;

### JOIN: Connecting multiple tables

We can specify multiple tables in the FROM clause of a select query. This is called a “join”. However, when we do, we need to remember to specify how to match up rows across the two tables. Usually, there is a column that is the same in both tables that can be used to match them up. For much of the baseball database, that would be a column like playerID or teamID. Also, we frequently give tables temporary short names to make it easy to refer to them.

    /* list home runs for all players. */
    SELECT m.nameFirst, m.nameLast, b.HR
    FROM Master m, Batting b
    WHERE m.playerID = b.playerID;

We can still use regular WHERE clauses in these queries, too, to further filter:

    /* list home runs for all Detroit players from 2013. */
    SELECT m.nameFirst, m.nameLast, b.HR
    FROM Master m, Batting b 
    WHERE m.playerID = b.playerID
        AND b.yearID = 2013
        AND b.teamID = 'DET';

Table joins are the most important feature of SQL databases; they are very powerful and allow us to create all kinds of complex queries. You can also join more than two tables if you like:

    /* list players who appeared in at least one game in 2013. */
    SELECT m.nameFirst, m.nameLast, t.name
    FROM Master m, Appearances a, Teams t 
    WHERE m.playerID = a.playerID
        AND a.teamID = t.teamID
        AND a.yearID = t.yearID
        AND a.yearID = 2013;

### GROUP BY and Aggregate functions

Often, one thing that you want to do is to aggregate over multiple rows. For example, what is the average number of hits per player for each team? Or what is the total amount of salary spent by each team? To do this, use a GROUP BY clause:

    /* sum walks for each team in 2013 */
    SELECT teamID, SUM(BB)
    FROM Batting
    WHERE yearID = 2013
    GROUP BY teamID;

There are a number of useful aggregate functions:

- **_SUM(column)_** : Calculate the sum of column for all the rows in each group
- **_AVG(column)_** : Calculate the numeric average for all of the rows in each group
- **_COUNT(column)_** : Count the number of rows in each group
- **_MIN(column) and MAX(column)_** : Find the minimum or maximum value of column in all the rows in each group

Often, it can be very powerful to combine GROUP BY and table joins. To figure out these queries, I recommend first getting the join to return the individual rows correctly, and then adding in the GROUP BY and aggregates.

### ORDER BY

Normally, the results are returned in the order they appear in the database. However, it can be very useful to re-order the results using ORDER BY

    SELECT m.nameFirst, m.nameLast, b.teamID, b.HR
    FROM Master m, Batting b 
    WHERE m.playerID = b.playerID
        AND b.yearID = 2010
    ORDER BY b.HR DESC

(After you specify which column to order by, you can optionally specify either ASC for ascending order, or DESC for descending order.)

Using ORDER BY with custom column names can be really useful when combined with GROUP BY:

    SELECT teamID, SUM(HR) as homeruns
    FROM Batting
    WHERE yearID = 2010
    GROUP BY teamID
    ORDER BY homeruns DESC

### Modifying the database

In addition to retrieving information from an existing database, you can also insert data into a database, update existing rows, and delete records using SQL.  Here are some example queries:

- **INSERT**: Adding a row to a table

        INSERT INTO Master
        (playerID, nameFirst, nameLast)
        VALUES ('mightycasey5000', 'Mighty', 'Casey')

- **UPDATE**: Changing data that is already in a table

        UPDATE Master
        SET nameGiven = 'The Mighty Casey'
        WHERE playerID = 'mightycasey5000'

- **DELETE**: Removing one or more rows from a table

        DELETE FROM Master
        WHERE playerID = 'mightycasey5000'

- **ALTER TABLE**: Changing the structure of an existing table

        ALTER TABLE Master
            ADD COLUMN gender VARCHAR(1) DEFAULT 'M'

## In-class SQL exercise: Moneyball

Now that we've experienced SQL, lets try some querying.

### Basics

- Which player hit the most home runs in 2013?
- Which team spent the most money on player salaries in 2013?

### Advanced

- Which team spent the least money per win on player salaries in 2013?
- Which player averaged the fewest at bats between home runs in 2013?
- Which player in 2013 had the highest on base percentage?
- Which Detroit Tigers pitcher had the most wins in a single season in the 2000s (all seasons starting in 2000 or greater)?
- In the 2000s, did the Detroit Tigers draw more or fewer walks (Base-on-Balls or BB) as the 21st century went on?

<hr />

## databases and Python

Python lets you interact with databases using SQL just like you do in SQLite Manager.  Python code can do SELECTs, CREATEs, INSERTs, UPDATEs, and DELETEs, and any other SQL you can run other ways, and the results are returned in a format that lets you interact with them after the SQL statements finish.

To interact with a database using python, first you have to connect to the database.  Then, you use the connection to create a cursor, used to actually interact with the database over the connection.

A cursor takes SQL written in python, delivers it to the database, then takes the results, converts them to a format that can be interacted with using python, and returns that transformed, usable response to you to play with.

Cursors also let you send other types of commands to the database, including telling the database when you want to actually commit changes you've made (most relational databases are also transactional, meaning they can queue up sets of individual changes that are part of a higher-level transaction and only actually commit them to the database when told the transaction as a whole completed succesfully).

The code below is specific to SQLite, but it uses functions and objects specified in Python's DB-API 2 API, and so you can use almost identical code to interact with other types of databases.

### Making and using a database connection and a cursor

To create a database connection, you first must import that database's DB-API implementation, then you call the connect() function, passing it information on where to find the database to which you are trying to connect.

To make a cursor, call the cursor() method on the connection object instance returned by the call to connect.

To execute SQL, just pass the SQL statement to the cursor's execute() method and store the result in a variable.

To access rows from query, make a `for current_row in result_set:` loop, then for each row, you can reference values in that row by using their name as the name reference into a dictionary.  Example - get "nameLast" column value out of each row:

    last_name = result_set[ "nameLast" ]
    
Example:

In [4]:
# imports
import sqlite3

# declare variables
my_connection = None
my_cursor = None
result_set = None
current_row = None

# use try-->except-->finally to make sure you always close your database
#    connections.
try:
    
    # make a connection - pass the name of the database file.
    my_connection = sqlite3.connect( 'lahman2013.sqlite' )
    
    # set row_factory that returns values mapped to column names
    #   as well as in an ordered list
    my_connection.row_factory = sqlite3.Row
    
    # then, make a cursor.
    my_cursor = my_connection.cursor()
    
    # Actually use cursor here...
    result_set = my_cursor.execute(
        '''
        /* list home runs for all Detroit players from 2013. */
        SELECT m.nameFirst, m.nameLast, b.HR
        FROM Master m, Batting b 
        WHERE m.playerID = b.playerID
            AND b.yearID = 2013
            AND b.teamID = 'DET'
            AND b.HR > 0;
        ''' )
    
    # output results
    print( "Detroit Home Run Hitters, 2013!" )
    for current_row in result_set:
        
        print( "==> " + current_row[ "nameFirst" ] + " " + current_row[ "nameLast" ] + " - " + str( current_row[ "HR" ] ) + " home runs!" )
        pass

    #-- END loop over results --#

except Exception as e:
    
    print( "Exception making connection or creating cursor!" )
    
finally:
    
    print( "In the 'finally:', cleaning up our mess." )
    
    # close cursor
    my_cursor.close()
    
    # close connection
    my_connection.close()
    
#-- END try-->except-->finally around database connection. --#

Detroit Home Run Hitters, 2013!
==> Alex Avila - 11 home runs!
==> Miguel Cabrera - 44 home runs!
==> Andy Dirks - 9 home runs!
==> Prince Fielder - 25 home runs!
==> Avisail Garcia - 2 home runs!
==> Bryan Holaday - 1 home runs!
==> Torii Hunter - 17 home runs!
==> Jose Iglesias - 2 home runs!
==> Omar Infante - 10 home runs!
==> Austin Jackson - 12 home runs!
==> Don Kelly - 6 home runs!
==> Victor Martinez - 14 home runs!
==> Brayan Pena - 4 home runs!
==> Jhonny Peralta - 11 home runs!
==> Ramon Santiago - 1 home runs!
==> Matt Tuiasosopo - 7 home runs!
In the 'finally:', cleaning up our mess.

#### Cleaning up!

You'll notice here that we did a little more than just open the connection and cursor.  Whenever you do Input/Output (IO) - reading or writing from a file, a database table, or a network connection, or any other external resource - you should always clean up after yourself.  Close whatever you've opened, so you don't accidentally lock others out of resources.

Try-->except-->finally helps make being a good IO citizen easier.  We've discussed "try" and "except".  Now to "finally" - things in the "finally" clause always execute even if there is an exceptio.  So, if you, say, open a database file for reading and want to make as certain as you can that it will be closed once you are done, you place a call to my_connection.close() inside the "finally:" block, so it gets called no matter what happens in the try and except.  Bbe careful with it, but always use it.

#### Special note on INSERTs in Python

When you do an INSERT in Python, you'll often want to know the ID of the row you just inserted, so you can reference it in relations from other rows.  The method for getting the ID of the record created in the most recently executed INSERT is different for different databases.  For SQLite, as long as your primary key is an auto-incremented integer, you can reference the ID of the last row processed by the cursor in the variable `lastrowid`, stored on your database cursor: `my_cursor.lastrowid`

Example (and example of making an in-memory instance of sqlite):

In [8]:
# imports
import sqlite3

# Based on answer in: http://stackoverflow.com/questions/6242756/how-to-retrieve-inserted-id-after-inserting-row-in-sqlite-using-python

# declare variables
my_connection = None
my_cursor = None
create_sql = ""
insert_sql = ""
new_record_id = None

# use try-->except-->finally to make sure you always close your database
#    connections.
try:
    
    # make a connection - for in-memory database, pass ':memory:'
    my_connection = sqlite3.connect( ':memory:' )
    
    # set row_factory that returns values mapped to column names
    #   as well as in an ordered list
    my_connection.row_factory = sqlite3.Row
    
    # then, make a cursor.
    my_cursor = my_connection.cursor()
    
    # create table with integer auto-increment ID.
    create_sql = '''
        CREATE TABLE foo ( id integer primary key autoincrement,
                           username varchar( 50 ),
                           password varchar( 50 ) );
    '''
    my_cursor.execute( create_sql )
    
    # Make INSERT SQL string
    # Place question marks (no quotes around them regardless of type of column)
    #    where the values you'll place in the record go, to guard against
    #    SQL injection - see next section for more details.
    insert_sql = '''
        INSERT INTO foo ( username, password ) VALUES ( ?, ? );
    '''
    
    # pass execute() INSERT SQL, then a tuple list of values for each question mark
    #    in your INSERT (username and password, no ID - ID is auto-generated.).
    my_cursor.execute( insert_sql, ( 'test_username', 'test_password' ) )
    
    # get ID of INSERTed record.
    new_record_id = my_cursor.lastrowid
    
    # output result
    print( "New record inserted with ID = " + str( new_record_id ) )

except Exception as e:
    
    print( "Exception making connection or creating cursor!" )
    print( e )
    
finally:
    
    print( "In the 'finally:', cleaning up our mess." )
    
    # close cursor
    my_cursor.close()
    
    # close connection
    my_connection.close()
    
#-- END try-->except-->finally around database connection. --#

New record inserted with ID = 1
In the 'finally:', cleaning up our mess.

### Managing cursors

Cursors keep track of your interactions with a database.  If you do a select, when you loop over the things returned, they keep track of your position within the results.  They also keep information about the queries you run, so you can get more details after the fact, in case of errors or wanting a precise status.  They are designed to work with both networked and local databases, and so they also handle behind-the-scenes tasks like loading in new rows of a query result set as you request them, so you don't load the entire result set from the database into memory at once.

Because of this work they are doing behind the scenes, cursors can sometimes be quirky about doing more than one thing at once, in particular in simple databases like SQLite.  Be aware that you might need to create multiple cursors whenever you are doing multiple interactions with a database at the same time.  For example:

- if you do a SELECT inside a loop over the result set of another SELECT, you might need to do each SELECT from a separate cursor, so the progress through each is kept separate.

- if you are INSERTing a record inside a loop over a SELECT statement's results, you might need to use a separate cursor for the INSERTs from the one you used to run the SELECT, since cursors sometimes have trouble when you read, then write at the same time.

You shouldn't need to make separate connections.  One should be enough.  You might have to use that one connection to make and store multiple cursors in multiple variables, though.  A brief example:

    # declare variables
    connection = None
    cursor1 = None
    cursor2 = None
    result1 = None
    
    try:
    
        # make connection
        connection = sqlite3.connect( "tweet_sample.sqlite" )
        cursor1 = conn.cursor()
        cursor2 = connection.cursor()
        
        # do a select with the first cursor
        result1 = cursor1.execute( "SELECT * FROM tweet_sample_raw" )
        
        # loop
        for row in result1:
        
            # do an INSERT with cursor 2, not cursor 1
            cursor2.execute( "INSERT INTO example ( test1, test2 ) VALUES ( "test1", "test2" ) ) 
        
        #-- END loop over results --#
    
    except:
    
        print( "Exception!!!" )
    
    finally:
    
        # close cursors
        cursor1.close()
        cursor2.close()
        
        # close connection
        connection.close()
    
    #-- END try-->except-->finally --#


Some databases might not have problems with these kinds of scenarios, but the details of how a given database's implementation handles all this can be complicated and broken out very differently from database to database, so it is a good idea to not assume that any databases will be able to deal well with them.  It is probably fine to try doing multiple things with a single cursor, but be on the lookout for problems if you don't make separate cursors when you have multiple database interactions going on at once.  And, make sure that you close all the cursors you open in the "finally" after your database interactions are complete.

### Odds and ends

#### Preventing SQL Injection

From wikipedia: "SQL injection is a code injection technique, used to attack data-driven applications, in which malicious SQL statements are inserted into an entry field for execution (e.g. to dump the database contents to the attacker)."

- [https://en.wikipedia.org/wiki/SQL_injection](https://en.wikipedia.org/wiki/SQL_injection)

SQL injection attacks are usually run against web forms.  Remember that a semi-colon signifies the end of a statement in SQL?  In SQL Injection attacks, a malicious entity finds a way to pass a value that will be part of an SQL query in to your database with a semi-colon and then SQL statements they want to execute in your database.  They could dump all your data to a location they control, or depending on the privileges of the database user, they could also delete or alter tables.

Example:
- When I worked at the Detroit News, some of the application code we had re-written by a third party took values form a search form and chucked them directly into the database.  It took 3 or so years for someone to figure out that this exploit was there, but once someone found it, the hackers went in and started creating admin users in our admins and creating and updating users in our forums through form submissions to unrelated parts of the site (the ones that were not secure), and it took a full week to really get everything straightened out.

How to avoid it:

- from [http://bobby-tables.com/python.html](http://bobby-tables.com/python.html):
- DON'T just throw string values directly into SQL.
- instead, build out your SQL with question marks ( "?" ) where you'll substitute in values.

    - No need for quotation marks around string value question marks.  The substitution will take care of all of that for you.

- then, when you call execute(), pass in the string that contains your SQL in the first argument, then the list of values to be substituted for each, in order, in the second parameter.

Example:

In [ ]:
update_sql = "UPDATE people SET name = ? WHERE id = ?;"
my_cursor.execute( update_sql, ( "Mighty Casey", 2 ) )

#### Troubleshooting

- ProgrammingError: You must not use 8-bit bytestrings unless you use a text_factory that can interpret 8-bit bytestrings (like text_factory = str). It is highly recommended that you instead just switch your application to Unicode strings.

    If you see this error, you are taking UTF-8 encoded text, which could have EMOJI!!! and storing it in a byte string (8-bit/1-byte strings, in which emoji cause problems).
    
    When reading values out of a SELECT query result set, make sure for strings, that you know your encoding and convert them to unicode:
        
        # unicode( "string_value", "<encoding>" )
        # for UTF-8: unicode( "string_value", "UTF-8" )
        unicode_string = unicode( result_set[ "string_column" ], "UTF-8" )
    
- Conversely, when preparing data for use in an INSERT or UPDATE statement, you need to make sure that all variable values are cast (converted) to appropriate types for the column type in the database (INTEGER = int(), VARCHAR or TEXT BLOB = unicode(), etc.).  With VARCHAR or TEXT columns, the default encoding in SQLite3 is "UTF-8", so you'll want to either pass Unicode strings or UTF-8 encoded text.the conversion will look like this:

- If you mess up the path you pass to the sqlite3.connect() call, be aware that for SQLite3, if you try to access a database that doesn't exist, if you have write access to the file system, Python will create a new database to match the path you entered.  So, if you try to connect to the database and it fails, but then when you go to look at the directory, you'll see a database that is named the right name but that is empty.  In this case, just whack that database file and put in the right path and filename next time, or move the database to the location where you thought it was.

## Exercise 6 - Twitter Data, part 1

### A little more setup

Make sure you grabbed the smaller twitter_sample_sample.txt file from the exercise 6 assignment in ctools and placed it in your work directory.

### Database design

Considering the two types of databases we discussed earlier, relational and no-sql, each is flexible enough that you can choose to store data in them in many different ways, and you can even replicate the way each works in the other with a little help from the program you use to interact with a given data store.

With big, complicated, inter-related data, however, if you want to manage the complexity and integrity of your data, you have to do more than just dump information into your database willy-nilly.  You need to design the structure and relations within your database so that you can easily understand what is where, and can efficiently and reliably make use of your information.  Thus, we aim to design our databases, and the most commonly used process for database design is normalization.

Microsoft's explanation of normalization and why we do it is the most clear and concise I've found (from [http://support.microsoft.com/kb/283878](http://support.microsoft.com/kb/283878)):

>"Normalization is the process of organizing data in a database. This includes creating tables and establishing relationships between those tables according to rules designed both to protect the data and to make the database more flexible by eliminating redundancy and inconsistent dependency.
>
>Redundant data wastes disk space and creates maintenance problems. If data that exists in more than one place must be changed, the data must be changed in exactly the same way in all locations. A customer address change is much easier to implement if that data is stored only in the Customers table and nowhere else in the database.
>
>What is an "inconsistent dependency"? While it is intuitive for a user to look in the Customers table for the address of a particular customer, it may not make sense to look there for the salary of the employee who calls on that customer. The employee's salary is related to, or dependent on, the employee and thus should be moved to the Employees table. Inconsistent dependencies can make data difficult to access because the path to find the data may be missing or broken."

A few key points:

- **eliminating redundancy** - If a given data item could be applicable to many records in your data set, you should have one copy of it in a separate table, and link records to it using its unique key.  This is in the same family as DRY (don't repeat yourself), making functions out of code you repeat (single-source programming), etc.  Examples:

    - addresses - shared by all members of a family, and also potentially used for billing address, etc.
    - hash tags - could be applied to many items in a given system (twitter), and could be used across systems as well (facebook, instagram, twitter, etc.).
    - demographic data about a participant in a study where you've gathered data on that individual from multiple sources.
    
- **minimizing "inconsistent dependency"** - For complex data, you should break information out by entity, and for each entity you should aim to 1) only include information in an entity's table that is intimately or closely related to it AND 2) specifically remove information from the table if it ISN'T intimately or closely related.  For information that is loosely related, place it in its own table, and make links between the two.  Example:

    - entity - person:
    
        - height?
        - shoe size?
        - mother's first name?
        - name of childhood best friend's current dog?

### Normalizing data

There are different levels of normalization of data: 1st-normal, 2nd-normal, 3rd-normal, and on.  Each subsquent form requires the data to be in the previous form(s).  3rd normal form is considered the "good enough" level of normalization, so we'll just cover to there, and if you take to this, you can look into it more at your leisure.

#### 1st Normal Form

- **_Each cell in a given row should only contain a single value._**

    - No lists of values in a single column.  Movie rental - don't have a column named "movies" that has a list of movies rented.

- **_There should be only one column in a given table intended to hold a certain type of data._**

    - so, if a person rented two movies, they should have two rental records, one per movie, rather than having movie_1 and movie_2 (what if you rent 3 or 4 movies? 3000?).

- **_Each row in a given database table should be unique._**

    - no two rows should have exactly the same values in all of their columns.

#### 2nd Normal Form

- **_Data must be in 1st Normal Form._**
- **_Each row must have a single-column primary key (a unique identifier of the row)._**

    - primary keys can be any format, but I recommend they be:

        - integers
        - auto-incremented (so leave out of INSERT, it just gets automatically set, database handle making sure it is unique)

- **_create separate tables for sets of values that apply to multiple records_**

    - this includes things like categories - marital status, for example, or ethnicity - where you have a limited set of values that will be applied to many different people.

- **_in the multiple records, then, swap the values out for the key of the related record in the new separate table_**

    - for tables that contain values broken out into a separate table, then, remove the actual value and replace it with the ID of the row in the separate table that contains that value - so, the ID of your ethnicity, or the ID of your marital status.  This is referred to as a "Foreign Key".
    - for different types of relations, this is done differently:
    
        - one-to-one - one refers to the other, one must have foreign key, can have but don't necessarily need each to refer to the other (current spouses assuming monogamy).
        - one-to-many and many-to-one - foreign key stored in each of the many that refers to the one (child, mother).
        - many-to-many - join table - 3rd separate table with two IDs, two foreign keys, one to each side of the relation (aunts to nieces and nephews).

#### 3rd Normal Form

- **_Data must be in 2nd Normal Form_**

- **_Remove unrelated data from tables_**

#### In Addition:

- columns should be the appropriate type for data (but sometimes OK to just chuck things into strings if it is an interim step).

More information:

- [http://support.microsoft.com/kb/283878](http://support.microsoft.com/kb/283878)
- [http://www.studytonight.com/dbms/database-normalization.php](http://www.studytonight.com/dbms/database-normalization.php)
- [http://databases.about.com/od/specificproducts/a/normalization.htm](http://databases.about.com/od/specificproducts/a/normalization.htm)
- [http://www.guru99.com/database-normalization.html](http://www.guru99.com/database-normalization.html)

#### Let's design our database!

Given the following columns, split up into 2 or 3 person groups and work together to make a 3rd normal form database design for the information in these columns.  Your design should include a list of tables, and the the column that should be included in each table.

- **_`tweet_timestamp`_** - time stamp of date and time when tweet was sent, in strptime format %a %b %d %H:%M:%S +0000 %Y (example: Sun Feb 08 20:15:19 +0000 2015).  For more information on format, see [https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior](https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior)
- **_`twitter_tweet_id`_** - Twitter's ID for this tweet.
- **_`tweet_text`_** - actual text of tweet.  Might contain "\n" - newlines.
- **_`tweet_language`_** - abbreviation of language of tweet, if known.
- **_`twitter_user_twitter_id`_** - sender - the Twitter ID of the user who sent the tweet.
- **_`twitter_user_screenname`_** - sender - the screen name of the Twitter user who sent the tweet.
- **_`user_followers_count`_** - sender - number of followers the sender has.
- **_`user_favorites_count`_** - sender - number of favorites the sender has.
- **_`user_created - sender`_** - time stamp of date and time when sender's user was created, in strptime format %a %b %d %H:%M:%S +0000 %Y (example: Sun Feb 08 20:15:19 +0000 2015).  For more information on format, see [https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior](https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior)
- **_`user_location`_** - sender - the location of the user, if set.
- **_`tweet_retweet_count`_** - number of retweets the tweet has
- **_`tweet_place`_** - location the tweet was sent, if set.
- **_`tweet_user_mention_count`_** - number of users mentioned in the tweet.
- **_`tweet_users_mentioned_screennames`_** - screen names of the users mentioned in tweet, separated by commas.  This list is associated by position with the list Twitter IDs in tweet_users_mentioned_ids.
- **_`tweet_users_mentioned_ids`_** - Twitter IDs of the users mentione in tweet, separated by commas.  This list is associated by position with the list of screen names in tweet_users_mentioned_screennames.
- **_`tweet_hashtag_mention_count`_** - count of hashtags mentioned in the tweet.
- **_`tweet_hashtags_mentioned`_** - list of hashtags mentioned in the tweet, separated by commas.
- **_`tweet_url_count`_** - count of URLs included in the tweet.
- **_`tweet_shortened_urls_mentioned`_** - list of the shortened versions of the URLs in the tweet.  Associated by position in the list with the full URLs in tweet_full_urls_mentioned and the display URLs in tweet_display_urls_mentioned.
- **_`tweet_full_urls_mentioned`_** - list of the full versions of the URLs in the tweet.  Associated by position in the list with the shortened URLs in tweet_shortened_urls_mentioned and the display URLs in tweet_display_urls_mentioned.
- **_`user_description`_** - sender - description from sending user's account.
- **_`user_friends_count`_** - sender - count of friends sender has.
- **_`user_statuses_count`_** - sender - count of statuses (tweets) sending user has sent.
- **_`tweet_display_urls_mentioned`_** - list of the displayed versions of the URLs in the tweet.  Associated by position in the list with the full URLs in tweet_full_urls_mentioned and the shortened URLs in tweet_shortened_urls_mentioned.

### Strategies for processing and normalizing flat data files

For relatively simple flat data files, there are at least a couple of options for reading in the file and converting it to a more normalized structure:

- You can read it in line by line and do all the manipulations you need to in memory as you go, doing all the translating and converting needed for each row of flat data to migrate it into your normalized relational data structure, then storing it once you are done.
- As the complexity of your data increases, and as you start to want to derive more inforomation from your data in addition to simply storing it in a clean and accurate normalized store, you'll likely want to break the process of importing and cleaning your data and then deriving data from it up into smaller incremental steps, such that you can run and verify each step before moving on.

For this exercise in class, we are going to work through the second approach - first get your data into a flat file in the database, then move it into better data structures from there using SQL and Python.  Below are two methods for processing data in a CSV and dumping it into a table.  The first uses the "csv" package to read in the twitter sample data file line by line and INSERT each line's contents as a row in the database.  The second uses the "pandas" package to do the same thing.

#### Using "csv" package to read and process CSV files

Before running this program, you'll need to:

- download the file "create_table-tweet_sample_raw.sql" from exercise 6 in ctools.
- open it up in an editor and copy the contents (a CREATE TABLE SQL statement) to your clipboard.
- open SQLite Manager and create a new database.
- click on the "Execute SQL" tab.
- paste the CREATE TABLE SQL you copied out of the file into the window just below the words "Enter SQL" and just above the "Run SQL" button.
- click the "Run SQL" button to create the table.

In [ ]:
from __future__ import unicode_literals

# imports
import sqlite3
import csv

# declare variables
conn = None
cursor = None
tab_delimited_file = None
tweet_reader = None
tweet_counter = -1
field_count = -1
current_tweet_row = None

# variables to hold fields
tweet_timestamp = ""
twitter_tweet_id = ""
tweet_text = ""
tweet_language = ""
twitter_user_twitter_id = ""
twitter_user_screenname = ""
user_followers_count = ""
user_favorites_count = ""
user_created = ""
user_location = ""
tweet_retweet_count = ""
tweet_place = ""
tweet_user_mention_count = ""
tweet_users_mentioned_screennames = ""
tweet_users_mentioned_ids = ""
tweet_hashtag_mention_count = ""
tweet_hashtags_mentioned = ""
tweet_url_count = ""
tweet_shortened_urls_mentioned = ""
tweet_full_urls_mentioned = ""
user_description = ""
user_friends_count = ""
user_statuses_count = ""
tweet_display_urls_mentioned = ""

# for SQL INSERT string
sql_insert_string = ""

# build INSERT statement here, once rather than each time through the loop.
sql_insert_string = '''
    INSERT INTO tweet_sample_raw
    (
        tweet_timestamp,
        twitter_tweet_id,
        tweet_text,
        tweet_language,
        twitter_user_twitter_id,
        twitter_user_screenname,
        user_followers_count,
        user_favorites_count,
        user_created,
        user_location,
        tweet_retweet_count,
        tweet_place,
        tweet_user_mention_count,
        tweet_users_mentioned_screennames,
        tweet_users_mentioned_ids,
        tweet_hashtag_mention_count,
        tweet_hashtags_mentioned,
        tweet_url_count,
        tweet_shortened_urls_mentioned,
        tweet_full_urls_mentioned,
        user_description,
        user_friends_count,
        user_statuses_count,
        tweet_display_urls_mentioned
    )
    VALUES
    (
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?,
        ?
    )
'''

# wrap database access in try-->except-->finally, so we make sure to close the connection and cursor.
try:

    # connect to database and make a cursor
    # assume that we've already created a database and a table to match the
    #    structure of our CSV file.
    conn = sqlite3.connect( "tweet_sample.sqlite" )
    cursor = conn.cursor()

    # open the data file for reading.
    with open( 'tweet_sample_sample.txt', 'rb' ) as tab_delimited_file:

        # feed the file to csv.reader to parse.
        tweet_reader = csv.reader( tab_delimited_file, dialect = "excel-tab" )
            # delimiter = '\t', quotechar = '\"', strict = True, lineterminator = "\n" )

        # loop over logical rows in the file.
        tweet_counter = 0
        for current_tweet_row in tweet_reader:

            tweet_counter = tweet_counter + 1
            field_count = len( current_tweet_row )

            # print some info
            # print( "====> line " + str( tweet_counter ) + " - " + str( field_count ) + " fields - text: " + '|||'.join( current_tweet_row ) )

            # only do stuff after first row
            if ( tweet_counter > 1 ):

                # get fields
                tweet_timestamp = unicode( current_tweet_row[ 0 ], "UTF-8" )
                twitter_tweet_id = unicode( current_tweet_row[ 1 ], "UTF-8" )
                tweet_text = unicode( current_tweet_row[ 2 ], "UTF-8" )
                tweet_language = unicode( current_tweet_row[ 3 ], "UTF-8" )
                twitter_user_twitter_id = int( current_tweet_row[ 4 ] )
                twitter_user_screenname = unicode( current_tweet_row[ 5 ], "UTF-8" )
                user_followers_count = int( current_tweet_row[ 6 ] )
                user_favorites_count = int ( current_tweet_row[ 7 ] )
                user_created = unicode( current_tweet_row[ 8 ], "UTF-8" )
                user_location = unicode( current_tweet_row[ 9 ], "UTF-8" )
                tweet_retweet_count = int( current_tweet_row[ 10 ] )
                tweet_place = unicode( current_tweet_row[ 11 ], "UTF-8" )
                tweet_user_mention_count = unicode( current_tweet_row[ 12 ], "UTF-8" )
                tweet_users_mentioned_screennames = unicode( current_tweet_row[ 13 ], "UTF-8" )
                tweet_users_mentioned_ids = unicode( current_tweet_row[ 14 ], "UTF-8" )
                tweet_hashtag_mention_count = unicode( current_tweet_row[ 15 ], "UTF-8" )
                tweet_hashtags_mentioned = unicode( current_tweet_row[ 16 ], "UTF-8" )
                tweet_url_count = unicode( current_tweet_row[ 17 ], "UTF-8" )
                tweet_shortened_urls_mentioned = unicode( current_tweet_row[ 18 ], "UTF-8" )
                tweet_full_urls_mentioned = unicode( current_tweet_row[ 19 ], "UTF-8" )
                user_description = unicode( current_tweet_row[ 20 ], "UTF-8" )
                user_friends_count = int( current_tweet_row[ 21 ] )
                user_statuses_count = int( current_tweet_row[ 22 ] )
                tweet_display_urls_mentioned = unicode( current_tweet_row[ 23 ], "UTF-8" )

                # print tweet ID
                print ( "====> line " + str( tweet_counter ) + " - " + str( field_count ) + " Twitter Tweet ID = " + twitter_tweet_id )

                # execute the INSERT SQL command.
                cursor.execute( sql_insert_string, ( tweet_timestamp, twitter_tweet_id, tweet_text, tweet_language, twitter_user_twitter_id, twitter_user_screenname, user_followers_count, user_favorites_count, user_created, user_location, tweet_retweet_count, tweet_place, tweet_user_mention_count, tweet_users_mentioned_screennames, tweet_users_mentioned_ids, tweet_hashtag_mention_count, tweet_hashtags_mentioned, tweet_url_count, tweet_shortened_urls_mentioned, tweet_full_urls_mentioned, user_description, user_friends_count, user_statuses_count, tweet_display_urls_mentioned ) )

                # commit.
                conn.commit()

            #-- END check to make sure we aren't the first row. --#

        #-- END loop over rows in file --#

    #-- END use of tab_delimited_file --#
    
except Exception as e:
    
    print( "well shucks, exception: " + str( e ) )
    
finally:

    # close cursor
    cursor.close()

    # close connection
    conn.close()

#-- END try-->except-->finally around database access. --#

#### Reading CSV files with pandas

In [3]:
# imports
import pandas
import sqlalchemy

# declare variables
csv_file_path = "tweet_sample_sample.txt"
csv_tweets_data_frame = None
sqlite_database_URL = 'sqlite:///tweet_sample.sqlite'
sqlalchemy_sqlite3_engine = None

# read the CSV file into a pandas data frame.
# - more details: http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table
csv_tweets_data_frame = pandas.read_csv( csv_file_path, dialect = "excel-tab", encoding = "utf-8" )

print( "CSV file \"" + csv_file_path + "\" opened." )

# write it to an sqlite database.

# first, initialize an sqlalchemy sqlite3 engine, referencing a new 
#    sqlite3 database tweet_sample.sqlite in the current directory.
# - more details: http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html#sqlite

# sqlite://<nohostname>/<path>
# where <path> is relative:
sqlalchemy_sqlite3_engine = sqlalchemy.create_engine( sqlite_database_URL )

# write the data to table "tweet_sample_raw" in the database.
# - more details: http://pandas.pydata.org/pandas-docs/stable/io.html#sql-queries
csv_tweets_data_frame.to_sql( "tweet_sample_raw_pandas", sqlalchemy_sqlite3_engine )

print( "Data output to database \"" + sqlite_database_URL + "\"." )

CSV file "tweet_sample_sample.txt" opened.
Data output to database "sqlite:///tweet_sample.sqlite".

#### And the winner is...

So, bearing in mind that the little

    dialect = "excel-tab"
    
there in `pandas.read_csv()` took a little while to figure out (you can see the csv configuration options I was trying in the first example before I found that dialect on stackoverflow that actually dealt correctly with the tweets being able to have newlines inside them), the pandas code is a lot simpler and more straightforward than that other code.

I'd use pandas if I were you.

But it is good to know that you have other options.  pandas is pretty great.  It looks like it will save you a lot of work.  It looks like it could save me a lot of work.  It also loads the entire data file into memory when it reads the CSV file, and some of its choices for column types in sqlite are a little weird - there were no decimal places in any of the numbers, but some of them are type float in the database it generated for me, for example.

If you have a REALLY big data file, so big that it wouldn't all fit into memory, you might need to do something more like the first example, even if you were just moving it all to a database with no other transformations, so you could load it in piece by piece.  The first set of code isn't that hard or complicated, but it also isn't as easy as the pandas code.

The first example is also a reasonable example of casting values into their proper types when doing an insert, and of structuring an INSERT statement so that it escapes values to prevent an SQL Injection attack.

## Final notes on complexity

Growth in complexity as it relates to adding code/data/transformations/analysis steps:

- Linear - the dream, complexity never grows in a linear relationship with amount of code with a slope near 1.
- Multiplicative - linear with slope of 2, 3, 4, etc. this is what adding code looks like at first
- Exponential - as a program gets bigger, this is how complexity relates if you don't design, plan, etc.  it starts out being simpler to just fold new things in, but after a while, very hard to manage.
- Logarithmic - this is what real programming looks like - if you abstract as you encounter things that should be abstracted, there is some additional complexity early, but over time, complexity is more manageable.

Some of the normalization might seem like a little much if you have relatively simple data from one source.  As soon as you start deriving time series data, or deriving social network data, then start to tie data sets together to people or places, your data starts to get complicated.  Carefully designing and normalizing your data is one way to manage this complexity.

Also, don't feel you need to become an expert on every library and every analysis software package and every computer language ever.  Pick a few tools that you enjoy using and that make sense to you, learn those well, and use your core tools whenever you can.  For example, I am proficient at SQL, but I don't enjoy how it works.  I tend to use SQL to move data around, then use Python or another language to actually work with the data.  pandas is a great tool for this way of thinking - it helps to get data from one format to another, so you can use it in a system you are comfortable with.

In [10]:
%nbtoc